element.style {
    display:block
}


.image {
position: relative; 
width: 100%; 
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }


#title {
    display: none;
    background-color: none;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    margin-top: 0%;
    margin-bottom: 0%;
    color: black
  }

  #title { 

    position: absolute; /* To place the text on the image*/
    top: 210px; /* The exact location of the text from the top of the image*/
    left: 0; /* Other beautification stuff */
    width: 100%; 

  }

 


.topnav {
    background-color: white;
    overflow: hidden;
    text-align: center;
    margin-left: 5%;
    margin-top:2%;
  }
  

  .topnav a {
    float: centre;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family:'Sura', serif;
    ;
  }
  
  .topnav a:hover {
    background-color: rgb(132, 200, 221);
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(132, 200, 221);
    color: white;
  }


.paragraphmain {
    color: black;
    text-align: centre;
    top: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    font-family:'Sura', serif;
    font-size: 500xp;

}

h1 {

    color: black;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family:'Pacifico', cursive;
    font-size: 500xp;
}

  img {
    border-radius: 50%;
        padding: 4px;
        margin: auto;
        width: 100;
        height: 200;
      }

#paragraphsecond {

    background-color: none;
    text-align: center;
    padding: 30px;
    margin-top: 100%
    margin-bottom: 10%;
    font-family: 'Sura', serif;

}

.row{

    display:flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

*, {

    box-sizing:border-box;
}

.col-4 {
flex: 33.33333%;
max-width: 33.333333;
}

a:visited{
    color: lightgrey
}

.socialmedia-icon {

    width: 170px;
    height: 170px;
    margin-top: 60px;
    margin-left: 145px;
}

img {
    vertical-align:middle;
    border-style: none;
}