element.style {
    display:block
}


.image {
position: relative; 
width: 100%; 
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }


#title {
    display: none;
    background-color: none;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    margin-top: 0%;
    margin-bottom: 0%;
    color: black
  }

  #title { 

    position: absolute; /* To place the text on the image*/
    top: 210px; /* The exact location of the text from the top of the image*/
    left: 0; /* Other beautification stuff */
    width: 100%; 

  }

 


.topnav {
    background-color: white;
    overflow: hidden;
    text-align: center;
    margin-left: 5%;
    margin-top:2%;
  }
  

  .topnav a {
    float: centre;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family:'Sura', serif;
    ;
  }
  
  .topnav a:hover {
    background-color: rgb(132, 200, 221);
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(132, 200, 221);
    color: black
  }


.paragraphmain {
    color: black;
    text-align: centre;
    top: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    font-family:'Sura', serif;
    font-size: 500xp;

}

h1 {

    color: black;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family:'Courgette', cursive;
    font-size: 100%;
}

.line {

    display: block;
    position: relative;
    padding: 0;
    margin: 20px;
    height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 5px solid white;
    border-bottom: 1px solid white;
}

  img {
    border-radius: 50%;
        padding: 4px;
        margin: auto;
        width: 100;
        height: 200;
      }

#paragraphsecond {

    background-color: none;
    text-align: center;
    padding: 30px;
    margin-top: 100%;
    margin-bottom: 10%;
    font-family: 'Sura', serif;
}

.row{

    display:flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

*, {

    box-sizing:border-box;
}

.col-4 {
flex: 10%;
max-width: 10%;
}

a:visited{
    color: black;
}

.socialmedia-icon {

    width: 70px;
    height: 70px;
    margin-top: 60px;
    margin-left: 25px;
}

img {
    vertical-align:middle;
    border-style: none;
}

.fbtext {

    font-family: 'Sura', serif;
    font-size: 15px;
    color: black;
    padding-left: 50px;
    padding-top: 5px
    
}

.instatext {

    font-family: 'Sura', serif;
    font-size: 15px;
    color: black;
    padding-left: 50px;
    padding-top: 5px
    text-align: .center;
    
}



/*Emily ----------------------------------------- */
table, th, td {
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.table {
  width: 700px;
  height:525px;
  overflow: scroll;
  margin: 25px;
}

th, td{ 
  width: 15px;
  height:8px;
  padding:5px;
  font-size:13px;
  text-transform: lowercase;
}

th{ 
  background-color: rgb(91, 209, 144);
  text-transform: uppercase;
}

.main td{
  color: rgb(64, 112, 88);
  font-weight: bold; 
  letter-spacing: 1.5em;
  text-transform: uppercase; 
}
td:nth-child(even) {
  background-color: #eefcf7;
}

td:nth-child(odd){
  background-color: rgb(215, 243, 215);
}

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides {
  display: none;
  text-align: center;

}

img {
  vertical-align: middle;
  width:300px;
  
}


.slideshow-container {
  width: 300px;
  position: relative;
  margin: auto;
  background: rgb(149, 230, 124);
  top:50px;
}


.prev,
.next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
}


.next {
right: 0;
border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
background-color: rgba(0, 0, 0, 0.8);
}

.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}


@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

.emotion1 .emotion2 .emotion3 {
  cursor: pointer;
  overflow: hidden;

}

.emotion1 .fadedbox1,.emotion2 .fadedbox2, .emotion3 .fadedbox3 {
  background-color: #dbfcc5;
  color: rgb(65, 211, 52);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 250px;
  height:200px;
  position: absolute;

  

}

.emotion2 .fadedbox2{
    left:450px;
}

.emotion3 .fadedbox3{
    left:710px;
}
.title{
    text-align: center;
    color: rgb(41, 165, 247);
    width:200px;
    position: relative;
    top:11px;
    left:20px;
    text-align: center;
}
.emotion1:hover .fadedbox1, .emotion2:hover .fadedbox2, .emotion3:hover .fadedbox3{
  opacity: 0.8;
}
.emotion1 .text, .emotion2 .text, .emotion3 .text{
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}
.emotion1 .title, .emotion2 .title, .emotion3 .title {
  font-size: 0.8em;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
  position:relative;
  bottom:80px;

}
.emotion1:hover .title,
.emotion1:focus .title,
.emotion2:focus .title,
.emotion2:hover .title,
.emotion3:hover .title,
.emotion3:focus .title
{
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.emotion1 p, .emotion2 p, .emotion3 p{
  font-weight: bold;
  font-size:18px;
color: rgb(0, 0, 0);
background-color:#35c499;
text-align:center;
padding:30px;
padding-top:65px;
width:168px; 
height:75px;
display:inline-block;
position:absolute;
left:10px;
margin-left:200px;
font-family: 'pacifico', cursive; 


}

.emotion2 p{
  left:262px;
  
}

.emotion3 p{
  left:522px;
}


body{
  margin: 200px;
}

#quotes{
  position: relative; 
  top:300px;
  left:200px;

}


#quotes img{
  border-radius:0%

}

.resourcestitle{
  font-size:50px;
  color: rgb(51, 223, 116);
  letter-spacing: 2px;
}

h2{ 
  font-family: 'Pacifico', cursive;
  color: rgb(55, 196, 221);
  letter-spacing: 3px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

p{
  font-family:'Sura', serif;
}

#resourcelinks {
  font-family: 'Sura', serif;
  color: rgb(63, 139, 145);
  font-size: 18px;
}